<%- include('../partials/header.ejs') %>
<main id="main-page">
    <section id="left-column">
        <a id="new-trip-btn" href="/trips/new"><button id="new-btn">New Trip</button></a>
    </section>
    <section id="center-column">
        <ul id="trips-list">
            <% trips.forEach(function(t) { %>
                <li id="trip-box">
                    <a href="/trips/<%= t._id %>">
                        <section>
                            <div id="trip-tag"><%= t.location %></div>
                            <div><img id="list-pics" src="<%= t.picture %>"></div>
                        </section>
                    </a>
                </li>
            <% }); %>
        </ul>
    </section>
    <section id="right-column">
        <section id="tips-box">
            <h3 class="rafting-stuff">Rafting Tips</h3>
            <ul id="tips">
                <li>Always wear personal floatation devices (especially when floating and drinking)</li>
                <li>Want to look like a pro while on the river? Find yourself some 90's shades and bright ass colors</li>
                <li>Okay we all know you really think you don't burn... put on some damn sunscreen the sun is for real on the river</li>
            </ul>
        </section>
    </section>
</main>
<%- include('../partials/footer.ejs') %>