<%- include('../partials/header.ejs') %>

<% if(user.equals(trip.createdBy)) { %> 
    <a href="/trips/<%= trip._id %>/edit"><button id="edit-btn">Edit Trip</button></a><br>
    <br>
    <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE TRIP" id="del-trip-btn">
    </form><br>
<% } %>
<section id="show-layout">
    <img src="<%= trip.picture %>">

    <p>Created By: <%= trip.createdBy.name %></p>
    <p><%= trip.date %></p>
    <p><%= trip.length %> Days</p>
    <section class="h3-style">
        <h3>Attendees</h3>
    </section>
    <form id="attending-form" method="POST" action="/trips/<%= trip._id %>/attendees">
    <input type="submit" value="Add Me" id="addMe-btn" disabled="<% trip.attendees.includes(user) ? true : false %>">
    </form>
    <% if(trip.attendees.length) { %>
        <ul id="attending-list">
            <% trip.attendees.forEach(function(a) { %>
                <li><%= a.name %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <h5>No Attendees Yet</h5>
    <% } %>
    <section class="h3-style">
        <h3>Meals</h3>
    </section>
    <a href="/trips/<%= trip._id %>/meals/new"><button id="new-meal-btn">Add Meal</button></a>
    <br>
    </form>
    <% if(trip.meals.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Type</th>
                    <th>Dish</th>
                    <th>Cook</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% trip.meals.forEach(function(m) { %>
                    <tr>
                        <td><%= m.day %></td>
                        <td><%= m.foodType %></td>
                        <td><%= m.dish %></td>
                        <td><%= m.cook.name %></td>
                        <td><form action="/trips/<%= trip._id %>/meals/<%= m._id %>?_method=DELETE" method="POST">
                        <input id="delete-meal-btn" type="submit" value="X"></form></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        No meals have been planned yet
    <% } %>      
</section>
<%- include('../partials/footer.ejs') %>