<%- include('../partials/header.ejs') %>

<a href="/trips/<%= trip._id %>/edit">Edit Trip</a><br>
<br>
<img src="<%= trip.picture %>">

<p>Created By: <%= trip.createdBy.name %></p>
<p><%= trip.date %></p>
<p><%= trip.length %> Days</p>

<h3>Attendees</h3>
<form id="attending-form" method="POST" action="/trips/<%= trip._id %>/attendees">
<input type="submit" value="Add Me">
</form>
<% if(trip.attendees.length) { %>
    <ul id="attending-list">
        <% trip.attendees.forEach(function(a) { %>
            <li><%= a.name %></li>
        <% }); %>
    </ul>
<% } else { %>
    <h5>No Attendees Yet</h5>
<% } %>

<h3>Meals</h3>
<a href="/trips/<%= trip._id %>/meals/new">Add Meals</a> | <a href="/trips/<%= trip._id %>/meals/edit">Edit Meals</a><br>
<br>
</form>
<% if(trip.meals.length) { %>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Type</th>
                <th>Dish</th>
                <th>Cook</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% trip.meals.forEach(function(m) { %>
                    <td><%= m.day %></td>
                    <td><%= m.foodType %></td>
                    <td><%= m.dish %></td>
                    <td><%= m.cook.name %></td>
                <% }); %>
            </tr>
        </tbody>
    </table>
<% } else { %>
    No meals have been planned yet
<% } %>    

<%- include('../partials/footer.ejs') %>