<%- include('../partials/header.ejs') %>

<img src="<%= trip.picture %>">

<p>Created By: <%= trip.createdBy.name %></p>
<p><%= trip.date %></p>
<p><%= trip.length %> Days</p>

<h3>Attendees</h3>
<form id="attending-form" method="POST" action="/trips/<%= trip._id %>/attendees">
<input type="submit" value="Add Me">
</form>
<% if(trip.attendees.length) { %>
    <ul id="attending-list">
        <% trip.attendees.forEach(function(a) { %>
            <li><%= a.name %></li>
        <% }); %>
    </ul>
<% } else { %>
    <h5>No Attendees Yet</h5>
<% } %>

<h3>Meals</h3>

<%- include('../partials/footer.ejs') %>